
/*
body {
    font-family: Arial;
    border: 0 none;
}
*/

/* Make the map canvas the size of the browser window */
#map-canvas {
    width: 100vw;
    height: 100vh;
}

/*
#map-canvas {
    width: 800px;
    height: 600px;
}
*/